header{
  padding: 20px;
  text-align: center;
  background-color: springgreen;
}

.airport {
  text-align: center;
  background-color: ;
  padding: 10px;
}

.garagediv {
  text-align: center;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  background-color: green;
}

li {
  padding: 5px;
  margin-right: auto;
  list-style: none;
  text-align: justify;
}

.fullLot {
  color: red;
}

.searchclass{
  color: black;
}
.gov {
  color:#ffeef2;
  background-color: #17bebb;
}

.back {
  background-color: grey;
}

.gov a {
  color: yellow;
  background-color:;
}

.namediv{
  background-color: #0e7c7b;
}

div:empty {
  display:none;
}

/*MAP*/
#map {
       height: 400px;
       width: 100%;
      }
